
*{
  box-sizing: border-box;
  font-family:Courier New;
  padding: 0px;
}
html {
  height:100%;
}
body {
  margin: 0px;
  position: relative;
  height:100%;
  /*background: url(../image/44.jpg) no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 800px;*/
}
/*header*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
  background-color: #34495e;
  height: 100px;
}
</*nav bar*/
nav {
  display:flex;
  flex-wrap: wrap;
  align-items: center;

}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
}
ul li{
  list-style: none;
  padding: 8px;
  margin:  8px;
  background:#F7FFEB;
  font-weight: bold;
  height: auto;
  border: 1px solid #FF4F40;
  border-radius: 6px;
  cursor: pointer;
  width:120px;
  max-width: 100%;
  text-align: center;
}
 ul li:hover {
   background:#D9D9D9;
   border: 2px solid #000000;
}
ul li a {
  text-decoration: none;
  color:black;
}
ul li a:hover{
   color: #FF4F40;
}
/*login*/
.header-login{
  display: flex;
  align-items: center;
  justifiy-items: center;
  flex-wrap: wrap;

}
.login-f {
  margin: 5px;

}
.login-f input{
    width: 160px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 6px;
}
.login-f button{
  transition: 0.3s all ease-in-out;
  background: #F7FFEB;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

}
.login-f button:hover{
    background:#D9D9D9;
    color: #FF4F40;
    border: 2px solid #000000;
}
.header-login a {
  text-decoration: none;
  border: 2px solid #95a5a6;
  border-radius: 4px;
  color: #ecf0f1;
  width: 90px;
  height: 30px;
  margin: 6px;
  padding: 3px;
  text-align: center;
}
.header-login a:hover{
  border: 2px solid #95a5a6;
  color: #FF4F40;;
}
/*sign out*/
.sign-out-f button{
  border: 2px solid #000000;
  background: #F7FFEB;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
/*index main*/
.main-div {
  width: 300px;
  text-align: center;
  margin: 50px auto;

}
.main-div p  {
  color:  #ecf0f1;
  background: #34495e;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;

}
.main-div p:hover{
  color:  #000000;
  background: #F7FFEB;

  border-radius: 5px;

}
.sports .mat
{
 width: 500px;
 font-size: 50px;
 color: #ecf0f1;
 border-bottom: 2px solid #95a5a6;
 border-top: 2px solid #95a5a6;
 margin:300px auto;
 padding: 50px;
}
.sports .mat:hover
{
 border-right: 6px solid #303030;
 border-left:  6px solid #303030;
 border-bottom: none;
 border-top: none;
 color: #D93240;
}
.sports .sport
{
  float: left;
  width:45%;
  margin: 2px 2px 4px 2px;
  padding: 0px 4px 0 0;
}
.sports .sport h2
{
 font-size: 25px;
 margin: 10px 0px 10px;
}
.sports .sport h2:hover
{
  color:  #D93240;

}
.sports .sport p
{
 line-height: 1.5;
 margin: 0 4px;
 font-size: 20px;
}
/*footer*/
footer{
  background: #222222;
  margin: 0px;
  position: static;
  width: 100%;
  bottom: 0;
  text-align: center;
  color:snow;
  font-weight: bold;
}
/*signup*/
.section-fst{
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 500px;
  width: 400px;
  background-color:#ecf0f1;
  margin-top: 20px;
  border-radius:20px;
  margin-left: 450px;
}
.section-fst form{
  display: flex;
  flex-direction: column;
  flex-grow: 100%;
  justify-content:  center;
  align-items: center;
  margin: 100px auto;
}
.signup-fm h1{
  font-size: 20px;
  font-weight: bold;
}
.signup-fm input{
  margin: 8px auto;
  text-align: center;
  width: 250px;
  height: 35px;
  border-top: 4px solid #34495e;
  border-bottom:  4px solid#34495e;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.signup-fm input:hover{
  border-left:  4px solid #000000;
  border-right:  4px solid #FF625E;

}
.signup-fm input:focus{
  background:  #FEB2AD;
}
.signup-fm button{
  margin: 8px auto;
  text-align: center;
  width: 150px;
  height: 35px;
  border-top: 2px solid  #34495e;
  border-right: 2px solid  #34495e;
  border-left: 2px solid #FF625E;
  border-bottom:  2px solid #FF625E;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  background: #ffffff;

}
.signup-fm button:hover{
  border-bottom:  2px solid #34495e;
  border-left:  2px solid  #34495e;
  border-right:  2px solid #FF625E;
  border-top:   2px solid #FF625E;
}
.clearfix{
  clear: both;
}
